#div_consolidating {
	margin: 30px ;
	border:1px solid gray;
	background-image: url(/voc_exer/res/img/blue_flow.jpg);
}

.div-consolidating-head {
	margin-top:1px;
	margin-left:10px;
	margin-right:30px;
}

.div-consolidating-head input{
	float:right;
}

.div-consolidating-body {
	margin-top:10px;
	margin-bottom:10px;
	height:550px;
	width:100%
}

.div-consolidating-body-left {
	float:left;
	margin-left:10px;
	_margin-left:5px;
}

.div-consolidating-body-left-head{
	color:white;
	font-size:20pt;
	margin-bottom:20px;
	border-bottom:1px solid #dddddd;
	padding:10px
}

.div-consolidating-body-right {
	float:left;
	margin-right:10px;
}

.div-consolidating-body-right-head{
	color:white;
	font-size:20pt;
	margin-bottom:20px;
	border-bottom:1px solid #dddddd;
	padding:10px
}

.div-freq-left{
	margin-top:40px;
	height:40px;
	width:430px;
	background:url(/voc_exer/res/img/freq_left_unselect.png) no-repeat;
	_background:url(/voc_exer/res/img/freq_left_unselect.gif) no-repeat;
}

.div-freq-left-sents{
	line-height:20px;
	margin-left:15px;
	width:350px;
	height:40px;
	overflow:auto;
}

.div-freq-left-sents-middle{
	line-height:20px;
	margin-left:15px;
	width:350px;
	height:30px;
	padding-top:10px;
}

.div-freq-left-hover{
	background:url(/voc_exer/res/img/freq_left_unselect_2.png) no-repeat;
	_background:url(/voc_exer/res/img/freq_left_unselect_2.gif) no-repeat;
}

.div-freq-right{
	margin-top:40px;
	height:40px;
	width:428px;
}

.div-freq-right-mean{
	height:40px;
	width:428px;
	line-height:20px;
	background:url(/voc_exer/res/img/freq_right_unselect.png) no-repeat;
	_background:url(/voc_exer/res/img/freq_right_unselect.gif) no-repeat;
	cursor:pointer;
}

.div-freq-right-mean div{
	height:40px;
	width:345px;
	line-height:20px;
	padding-left:70px;
	overflow:auto;
}

.div-freq-right-mean-middle{
	height:30px;
	width:358px;
	line-height:20px;
	padding-left:70px;
	padding-top:10px;
	background:url(/voc_exer/res/img/freq_right_unselect.png) no-repeat;
	_background:url(/voc_exer/res/img/freq_right_unselect.gif) no-repeat;
	cursor:pointer;
}

.div-freq-right-mean:hover{
	background:url(/voc_exer/res/img/freq_right_unselect_2.png) no-repeat;
	_background:url(/voc_exer/res/img/freq_right_unselect_2.gif) no-repeat;
}

.div-freq-right-mean-middle:hover{
	background:url(/voc_exer/res/img/freq_right_unselect_2.png) no-repeat;
	_background:url(/voc_exer/res/img/freq_right_unselect_2.gif) no-repeat;
}